.formContainer{
    background-color: #fff;
    min-height: 100vh;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.logo{
    max-width: 250px;
    height: auto;
}

.authForm{
    max-width: 800px;
    width: 60%;
    min-width: 400px;
}

.formFieldsStack{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 875px) {
    .authForm{
        width: 90% !important;
        min-width: 200px;
    }
}

@media screen and (max-width: 450px) {
    .formContainer{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .formFieldsStack{
        flex-direction: column
    }

    .formFieldsStack div{
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 10px;
    }
}